<html>
	<head>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<title><%= @title %></title>
	</head>
	<body>
		<nav class="navbar navbar-inverse bg-inverse">
			<div class="container">
				<a class="navbar-brand" href="#">Bloggy</a>
			</div>
	 </nav>
		<div class="container">
		<h1><%= @headline %></h1>
		<p class="info"><%= @paragraph %></p>

		<% @posts.each do |post| %>
		    <h2><%= post.title %></h2>
		    <p><%= post.body %></p>
		<% end %>
	</div>
	</body>
</html>
